@keyframes colorchange {
  from{
    color:orange;
  }
  to{
    color:#fbff00;
  }
}
@keyframes colorchangeforbg {
  from{
    background-color:#380000;
  }
  to{
    background-color:#6b1000;
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  width: 40px;
  height: 40px;
  position: relative;
  bottom : 10px;
}

.App-header {
  animation-name: colorchangeforbg;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#title {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  bottom:40px;
  animation-name: colorchange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}
#generate {
  font-family:'Courier New', Courier, monospace;
  background-color: red;
  color:white;
  font-size:50px;
  position:relative;
  top:100px;
}
#joke-display {
  font-family: cursive;
  position:relative;
  bottom:-100px;
}
a {
  color:#b5fff9;
}
a:visited {
  color:#6efff3;
}
a:hover {
  background-color: #441f1f;
  color: orange
}
#favoratize {
  background-color: red;
  color:white;
  position: relative;
  bottom:-100px;
}
#list {
  position: relative;
  top:50px;
}
#listtitle {
  position: relative;
  top:85px;
}
